name: "{{ hostvars[inventory_hostname]['ansible_hostname'] }}"

data-dir: "{{ etcd_data_directory }}"

client-transport-security:
  
  client-cert-auth: true

  cert-file: "/etc/etcd/etcd-server.crt"

  key-file: "/etc/etcd/etcd-server.key"
  
  trusted-ca-file: "/etc/etcd/ca.crt"

peer-transport-security:

  client-cert-auth: true

  cert-file: "/etc/etcd/etcd-server.crt"
  
  key-file: "/etc/etcd/etcd-server.key"

  trusted-ca-file: "/etc/etcd/ca.crt"


initial-advertise-peer-urls: "https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2380"

listen-peer-urls: "https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2380"

listen-client-urls: "https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2379,https://127.0.0.1:2379"

advertise-client-urls: "https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:2379"

initial-cluster-token: "etcd-cluster-1"

initial-cluster: "{% for host in groups['etcd'] %}{{ hostvars[host]['ansible_hostname'] }}=https://{{ hostvars[host]['ansible_default_ipv4']['address']}}:2380{% if not loop.last %},{% endif %}{% endfor %}"

initial-cluster-state: "new"

heartbeat-interval: 1000

election-timeout: 5000